.team {
    padding-top: 20px;
    padding-bottom: 40px;
}

.team-member {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;

    &__image {
        width: 100%;
    }

    &__name {
        color: $regularColor;
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
    }

    &__position{
        color: $greyTextColor;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0;
    }

    &__btn {
        display: block;
        width: 32px;
        height: 32px;
        background-color: $greyBgColor;
        background-image: url('./../images/team/button-arrow.svg');
        background-position-y: center;
        background-position-x: 12px;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: none;
    }

    &__link {
        position: absolute;
        inset: 0;
        z-index: 1000;
    }

    &:hover .team-member__name {
        color: $accentColor;
    }
}

.section__title {
    @include textRedGradient;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    padding-left: 10.5px;
    margin-bottom: 20px;
}