.publications {
    position: relative;
    background-color: $greyBgColor;

    &__btn {
        @include activeButton;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    &__card {
        position: relative;
        background-color: white;
        border-radius: 8px;
        margin-bottom: 40px;

        &:hover .publications__card__title {
            color: $accentColor;
        }

        &__title {
            color: $activeColor;
            font-size: 18px;
            line-height: 21px;
            padding: 20px 20px 10px 20px;
            margin: 0;
        }

        &__date {
            color: $greyTextColor;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 0 20px 20px 20px;
            margin: 0;
        }

        &__text {
            position: relative;
            font-size: 16px;
            line-height: 22px;
            padding: 0 20px 20px 20px;
            margin-top: 20px;

            &::before {
                content: '';
                position: absolute;
                left: 20px;
                right: 20px;
                top: -20px;
                height: 4px;
                background-color: #E6E6F0;
            }
        }

        &__img {
            width: 100%;
        }

        &__link {
            position: absolute;
            inset: 0;
            z-index: 1000;
        }
    }
}

.link-to-page {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    font-weight: 500;

    svg path {
        stroke: $activeColor;
    }

    &--services {
        opacity: 0.5;
        color: white;
        padding-left: 10.5px;

        svg path {
            stroke: white;
        }
    }

    &:hover {
        color: $accentColor;
    }

    &:hover svg path {
        stroke: $accentColor;
    }
}

.section__title {
    @include textRedGradient;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    padding-left: 10.5px;
}