.header {
    color: $greyTextColor;
    padding-top: 20px;

    &__title {
        position: relative;
        display: inline;
        font-size: 19px;
        line-height: 22px;
        color: white;
        padding: 13px;

        &::before {
            position: absolute;
            left: 0;
            content: url('./../images/header/header-title-mobile-before.svg');
        }

        &::after {
            position: absolute;
            right: -11px;
            content: url('./../images/header/header-title-mobile-after.svg');
        }
    }

    &__language-btn {
        color: $greyTextColor;
        border-radius: 8px;
        padding: 5px;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;

        &--active {
            background-color: $accentColor;
            color: #ffffff;
        }

        &:hover {
            background-color: #EDEDF7;
            color: $greyTextColor;
        }
    }
}

.tel-number {
    font-weight: 500;
}

.nav-link {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 0;
    border-bottom: 2px solid transparent;

    &:hover {
        color: $accentColor;
    }

    &.active {
        border-bottom: 2px solid white;
        pointer-events: none;
    }
}

.social-link:hover svg path {
    fill: $activeColor;
}

.mobile-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    z-index: 1000;
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        inset: 0;
        background-color: rgba($color: $regularColor, $alpha: 0.7);
        z-index: 1000;
        transition: 0.3s;
    }


    &__list {
        list-style: none;
        padding-left: 0;
        width: 100%;
    
        &__item {
            text-align: center;
            margin-bottom: 10px;
            background-color: $greyBgColor;
            border-radius: 12px;
            padding: 10px;

            a {
                color: $activeColor;
                font-size: 24px;
                line-height: 28px;
                text-decoration: none;

                &:hover,
                &:focus {
                    color: $accentColor;
                }
            }
        }
    }

    &__close-btn {
        align-self: flex-end;
        background-image: url('./../images/close-btn.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        border: none;
        background-color: transparent;
        margin-bottom: 25px;
    }
}