@media (min-width: 992px) {
    .footer {
        text-align: start;

        &__container {
            padding-top: 30px;
        }

        &__copyright {
            text-align: end;
        }

        &__content-row {
            display: flex;
            align-items: center;
        }
    }
}