@media (min-width: 992px) {

    .about-us__general-info {
        margin-top: 80px;
        padding-bottom: 80px;

        &__text {
            font-size: 21px;
            line-height: 30px;
        }

        &__second-col {
            border-top: none;
            border-left: 4px solid #E6E6F0;
            padding-top: 0;
            padding-left: 25px;
        }
    }

    .section__title {
        font-size: 42px;
        line-height: 50px;
    }

    .our-team-photo {
        margin-top: 100px;
        margin-bottom: 80px;
        height: 438px;

        p {
            font-size: 96px;
            line-height: 113px;
            letter-spacing: 63px;
        }
    }
}