@media (min-width: 576px) {
    .contacts__form {
        border-radius: 12px;
    }
}

@media (min-width: 992px) {
    .contacts {
        padding-top: 80px;
        padding-bottom: 80px;

        &__form {
            
            &__title {
                font-size: 32px;
                line-height: 38px;
            }
        }
    }
}