$baseFont: TT Norms, sans-serif;

$regularColor: #323264;
$altColor: #46466E;
$softColor: #686887;

$accentColor: #F0145A;

$activeColor: #24A3FF;
$activeColorHover: #0085FF;
$activeColorFocus: #006CCF;

$greyTextColor: #B3B3BA;
$greyBgColor: #F5F5FA;
$greyBgAltColor: #EDEDF7;